<h2> List of Customers</h2>

<%= link_to 'No profile? Click here to register', new_customer_path %>

<% @customers.each do |customer|%>
    <ul>
        <h3><li><%= link_to customer.name, customer_path(customer) %></li></h3>
        <h3> Bank Name: </h3>
        <% customer.banks.each do |bank| %>
            <%= bank.name %><br>
            <% end %>
   </ul>
<%end%>